{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Новостной портал
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>Всего новостей: {{ news|length }}</h3>
    <hr>
    {% if news %}

    <!--<h3>{{ time_now|date:' d M Y' }}</h3>-->
    <!-- А вот так мы используем наш тег-->
    <h3>{% current_time '%b %d %Y' %}</h3>
       <table align="center" width="600">
           <tr>
               <tr>
                   <td>Название</td>
                   <td>Описание</td>
                   <td>Дата публикации</td>
               </tr>

               <!-- Для каждого товара будете генерироваться новая строчка,
               т.е. новый HTML код, который указан в теле цикла.
               При этом сам цикл работает точно так же, как и в Python.
               product — переменная цикла, т.е. наш товар полученный из списка -->
               {% for newss in news %}
               <tr>
                   <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                    от переменных в Python. Здесь также можно получать доступ к
                    полям объекта модели. Например, здесь мы выводим имя,
                    в следующем столбце описание, и т.д.  -->
                   <td>{{ newss.title|censor }}</td>
                   <td>{{ newss.text|censor|truncatechars:20 }}</td>
                   <td>{{ newss.dateCreation|date:' d M Y' }}</td>
               </tr>
               {% endfor %}
           </tr>
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}